[Unit]
After=network.target

[Service]
ExecStart=/opt/whohome
Type=simple

StandardInput=file:/etc/whohome.json
StandardOutput=file:/var/www/html/macs

DynamicUser=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_UNIX
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true